.feature {
    background-color: rgb(220, 230, 227);
    height: 500px;

    .container {
        width: 80%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 10%;

        .item-left {
            display: flex;
            flex-direction: column;
            gap: 15px;
            flex: 5.5;

            h1 {
                font-weight: 500;
                margin: 10px 0px;
            }

            .title {
                display: flex;
                align-items: center;
                gap: 5px;

                img {
                    width: 24px;
                    height: 24px;
                }
            }

            p {
                font-size: 18px;
                font-weight: 300;
                color: gray;
                letter-spacing: 1px;
            }
        }

        .item-right {
            height: 300px;
            flex: 5;

            img {
                height: 100%;
                width: 100%;
                object-fit: contain;
            }
        }
    }
}