.navbar {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #175c25;
    color: rgb(222, 240, 229);
    position: sticky;
    top: 0;
    transition: 0.5 all ease;
    z-index: 999;

    &.active {
        background-color: white;
        color: rgb(24, 25, 24);
    }

    .container {
        width: 80%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px 0px;

        .logo {
            font-size: 34px;
            font-weight: bolder;

            .text {}

            .dot {
                color: #207317;
            }
        }

        .links {
            display: flex;
            gap: 24px;
            align-items: center;
            font-weight: 500;
            font-family: 'Montserrat', sans-serif;

            button {
                background-color: transparent;
                padding: 10px 20px;
                color: inherit;
                border-radius: 5px;
                border: 1px solid rgb(222, 240, 229);
                cursor: pointer;

                &:hover {
                    background-color: #3B6915;
                    border-color: #3B6915;
                }
            }

            .user {
                display: flex;
                align-items: center;
                gap: 12px;
                position: relative;

                .options {
                    display: flex;
                    flex-direction: column;
                    gap: 10px;
                    position: absolute;
                    top: 34px;
                    background-color: white;
                    color: rgb(24, 25, 24);
                    width: 200px;
                    border-radius: 5px;
                    padding: 20px;

                }
            }

            img {
                width: 32px;
                height: 32px;
                border-radius: 50%;
                object-fit: cover;
            }
        }
    }

    hr {
        width: 100%;
        border: 0.5px solid rgb(78, 84, 78);
    }


    .menu {
        width: 80%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: gray;
        height: 40px;
    }
}